@{
    ViewData["Title"] = "My Work";
    var sellers = ViewData["sellers"] as List<ST10390916_CLDV_POE.Models.User>;
    var orders = ViewData["orders"] as List<ST10390916_CLDV_POE.Models.Order>;
    var products = ViewData["products"] as List<ST10390916_CLDV_POE.Models.Product>;
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Buttershine Serif">Order History</h1>
</div>

<div class="table-bordered">

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Date</th>
                <th>Seller</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < orders.Count(); i++)
            {
                <tr>
                    <td>@products[i].Name</td>
                    <td>R @products[i].Price</td>
                    <td>@products[i].Category</td>
                    <td>@orders[i].OrderDate</td>
                    <td>@sellers[i].Name @sellers[i].Surname</td>
                </tr>
            }
        </tbody>
    </table>
</div>
